*{
    font-family: 'Roboto',sans-serif;
}

body{
    background-color: #FEF299;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator{
    width: 200px;
    background-image: linear-gradient(to right,#7ddabe,#1374c3);
    border-radius: 5px;
    box-shadow: 0 0 15px #5d5d5d;
}
.calculation-display{
    color: white;
    font-size: 1.3em;
    font-weight: lighter;
    padding: 0 20px;
    display: block;
    margin-top: 15px;
}
.main-display{
    color: white;
    font-size: 2.5em;
    font-weight: lighter;
    padding: 0 20px;
    display: block;
    text-align: right;
}
.row{
    display: flex;
    justify-content: space-around;
    height: 40px;
}
.row button{
    flex-grow: 1;
    margin: 2px;
    border: none;
    color: white;
    background-color: rgba(255,255,255,0.1);
    width: 40px;
}

.btn-light{
    background-color: rgba(255,255,255,0.25)!important;
}
button{
    transition-duration: 0.5s;
}
button:hover{
    background-color: rgba(53 ,136,184,0.5);
}
#btn-eql{
    background-color: #40d696;
    width: 88px;
    transition-duration: 0.5s;
}
#btn-eql:hover{
    background-color: #36b97e;
}
.bbrr{
    border-bottom-right-radius: 5px;
}
.bblr{
    border-bottom-left-radius: 5px;
}